html, body {
  width: 100%;
  height: 100%;
  font-size: 16px;
  margin: 0px;
  padding: 0px;
}

main {
  display: flex;
}

a { 
  color: inherit; 
}

@font-face {
  font-family: norseBold;
  src: url(./../resources/fonts/Norse-Bold.otf);
}

.bg-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  color: white;
  min-width: 354px;
  justify-content: space-around;
  background-image: url("./../resources/images/theo-roland-J-I80ZSVBco-unsplash.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #596D48;
}

.bg-container > :last-child {
  padding: 35rem 0rem 1rem 0rem;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  width: 100%;
  margin-top: 15rem;
  background-color: rgba(0,0,0,0.6);
  font-family: norseBold;
  font-size: 84px;
}

.logo-container > :first-child {
  height: 150px;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 4rem;
  background-color: rgb(249,250,251);
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 20px;
}

.form-container > :first-child {
  padding: 12rem 3rem 0rem;
}

.form-container > :first-child > p:first-child {
  margin-bottom: 0rem;
}

.form-container > :first-child > p:nth-child(2) {
  margin: 0rem;
}

.form-container > :last-child {
  align-self: stretch;
  display: flex;
  flex-direction: column;
}

form > :first-child {
  padding: 0.2rem 3rem 1rem;
  align-self: stretch;
  border: 1px solid white;
  background-color: white;
  box-shadow: 0rem 0.5rem 0.9rem rgba(0,0,0,0.2);
}

form > :last-child {
  padding: 2rem 3rem 1rem;
  align-self: flex-start;
}

form > :last-child > p {
  font-size: 18px;
  padding: 1rem 0rem;
}

.register {
  color: #596D48; 
  text-decoration: none;
}

.form-grid {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(2, 1fr);
}

.grid-elem {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.grid-elem:last-of-type {
  flex-direction: row;
  gap: 5px;
}

label {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 12px;
  font-weight: 600;
}

input {
  border: #E5E7EB solid 0.1rem;
  border-radius: 0.2rem;
  box-shadow: 0rem 0.5rem 0.9rem rgba(0,0,0,0.1);
}

input:invalid {
  border: rgb(185, 28, 28) solid 0.1rem;
}

input:valid {
  border: rgb(89, 109, 72) solid 0.1rem;
}

input:focus {
  border: rgb(29, 78, 216) solid 0.1rem;
  outline: none;
}

.alert {
  font-size: 12px;
  font-weight: normal;
  color: rgb(185, 28, 28);
}

button {
  background-color: #596D48;
  color: white;
  font-size: 16px;
  font-weight: 600;
  padding: 0.8rem 3rem;
  border-radius: 0.5rem;
  box-shadow: 0rem 0.5rem 0.9rem rgba(0,0,0,0.2);
  border-width: 0rem;
}

footer {
  justify-content: center;
  align-self: center;
  align-items: center;
  gap: 0.5rem;
  font-size: 18px;
  display: flex;
  background-color: black;
  color: white;
}
