html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #596D48;
}

main {
  display: flex;
}

a { 
  color: inherit; 
}


.bg-container {
  background-image: url("./../resources/images/theo-roland-J-I80ZSVBco-unsplash.jpg");
  background-color: #596D48;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 50px;
  background-color: white;
}

.firstElement {
  padding: 50px;
  align-self: flex-end;
  justify-items: flex-end;
}

.centerElement {
  align-self: stretch;
  display: flex;
  flex-direction: column;
}

.stretchElement {
  padding: 50px;
  align-self: stretch;
  border: 1px solid gray
}

.lastElement {
  padding: 50px;
  align-self: flex-start;
}

.form-grid {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(2, 1fr);
}

.grid-elem {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.grid-elem:last-of-type {
  flex-direction: row;
  gap: 5px;
}

footer {
  justify-content: center;
  align-self: center;
  align-items: center;
  gap: 5px;
  font-size: 18px;
  display: flex;
}

input {
  border: #E5E7EB solid 1px;
  border-radius: 5px;
}

input:invalid {
  border: rgb(185, 28, 28) solid 1px;
}

input:valid {
  border: rgb(89, 109, 72) solid 1px;
}

input:focus {
  border: rgb(29, 78, 216) solid 1px;
  outline: none;
}

.alert {
  font-size: 12px;
  color: rgb(185, 28, 28);
}


